.EndScreenAnnouncement__announcement--4GLIx{height:100%}
.EndScreenSuggestionsGrid__container--rlJvC{height:100%;padding:0 60px}
.EndScreenSuggestionsSlider__container--boziz{height:100%;padding:0 56px}.EndScreenSuggestionsSlider__sliderCard--lLW1h{min-width:172px;max-width:428px}
.EndScreen__endscreen--s7Dee{background:var(--black);padding:60px}
